[submodule "HPC_introduction/Expanse-Notebooks"]
	path = HPC_introduction/Expanse-Notebooks
	url = https://github.com/sdsc-hpc-training-org/Expanse-Notebooks
[submodule "Expanse-Notebooks"]
	path = Expanse-Notebooks
	url = https://github.com/sdsc-hpc-training-org/Expanse-Notebooks
[submodule "notebook-examples"]
	path = notebook-examples
	url = https://github.com/sdsc-hpc-training-org/notebook-examples
